.main-container{
    background-color: #000000;
    background-image: linear-gradient(#000000, #343434);
    color: white;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.black-background {
    background-color: black;
  }

