/* Common styles for all screen sizes */
.nav-link-hover,
.nav-link-hover.active {
    position: relative;
    color: white;
}

.nav-link-hover:hover::after,
.nav-link-hover.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: yellow;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    /* Ensure the navigation bar is displayed at the front */
    .navbar {
        position: relative;
        z-index: 1;
    }

    /* Adjust the positioning of the navigation links */
    .navbar .nav-link-hover {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: white;
        text-decoration: none;
    }

    /* Show/hide the dropdown on mobile */
    .nav-dropdown {
        display: none;
        position: absolute;
        background-color: #333;
        width: 100%;
        /* Ensure the dropdown is above the navbar */
        z-index: 2; 
    }

    .nav-dropdown a {
        display: block;
        color: white;
        padding: 12px;
        text-decoration: none;
    }

    .nav-link-hover.active + .nav-dropdown {
        display: block;
    }
}
