body {
    background-color: #000000;
    background-image: linear-gradient(#000000, #343434);
    color: white;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
    font-family: Arial, sans-serif; 
}

.nav-link-hover {
    position: relative;
    color: white;
    text-decoration: none; 
}

.nav-link-hover:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: yellow;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.center img {
    max-width: 100%;
    height: auto;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.hover-dark:hover {
    filter: brightness(70%);
}

.text-funny{
    color: aqua;
}

.a{
    text-decoration: none;
    text-color:white;
}
